body {
    color: black;
    background-image: url(images/dust_scratches.png);
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden; 
}
header {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey; 
    
    height: 90px; 
}

navbar.navbar-expand-lg.navbar-light.bg-light {
    width: 960px;
    max-width: 960px;
    margin: auto; 
}

.navbar-brand {
    position: relative;
    top: -10px;
    left: -1.5%;
    color: white;
    background: #4aaaa5;
    padding: 20px 5px 15px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 280px;
    height: 90px;
    float: left;
}
.navbar-brand h1 {
    color: white;
}

.navbar-nav {
    position: relative;
    right: -76%;
    top: -9px;
}

.container {
    
}



.mainContent {
    background-color: #ffffff;
    border: solid 1px;
    border-color: #dddddd;
    margin: auto;
    margin-top:50px;
    margin-bottom: 100px;
    padding: 35px;
 }

.contact {
    color:#4aaaa5;
    margin-left: 10px;
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 2em;    
}

.aboutImage {
    float: left;
    height: 150px;
    padding: 0 26px 0 0;
}

.aboutText {
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2;
}

.mainContentWrap {
    margin: 30px 0;
}

.mainContent {
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #dddddd;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    
    padding: 20px 35px 30px 35px;
    line-height: 1.5;
}

.img1 { 
    position: relative;
    height: 200px;
    width: 275px;
    float: left;
    margin: 0px 40px 57px 0px;    
}

.text1 {
    position: absolute;
    font-size: 15px;
    color: white;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 140px;
    left: 0px;
    width: 275px;
    height: 35px;
    padding-top: 14px;
    text-align: center;
}


.footerAll {
    background-color: #666666;
    height: 58px;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    color: white;
    line-height: 76px;
    margin-top: -45px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;    
}

.footer {    
    bottom: 0;
    position: fixed;
    width: 100%;
}


.button {
    background-color:#4aaaa5;
    border: solid 1px;
    border-color: #777777;
    color: white; 
    height: 40px;
    width: 80px;    
}

.button:hover {
    background-color: grey;    
}



@media  screen and (max-width: 370px)  {
    body {
        margin: 0 auto;
    }

    .container {
        margin: 0 auto;
    }
}


